{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ACTION</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="icon" href="{%  static 'media/favicon.png' %}">
	<link rel="stylesheet" href="{%  static 'css/category.css' %}">
</head>
<body>
	<img src="{%  static 'media/logo.png' %}" alt="logo" class="logo">
	<p id="headline">TOP 10 ACTION MOVIES</p>
	<div class="Section1">
		<div class="row">
  			<div class="column">
    			<img src="{%  static 'media/movies/ac1.jpg' %}" id="img1" alt="Ghosted" style="width:100%">
				<p id="title">Kantara</p>
  			</div>

  			<div class="column">
    			<img src="{%  static 'media/movies/ac2.jpg' %}" id="img2" alt=" Teenage Mutant Ninja Turtles: Mutant Mayhem" style="width:100%">
				<p id="title"> The Dark Knight</p>
  			</div>

  			<div class="column">
    			<img src="{%  static 'media/movies/ac3.jpg' %}" id="img3" alt="65" style="width:100%">
				<p id="title">The Matrix</p>
  			</div>

			<div class="column">
    			<img src="{%  static 'media/movies/ac4.jpg' %}" id="img4" alt="Ant-Man and the Wasp: Quantumania" style="width:100%">
				<p id="title">Seppuku</p>
  			</div>

  			<div class="column">
    			<img src="{%  static 'media/movies/ac5.jpg' %}" id="img5" alt="Operation Fortune: Ruse de guerre" style="width:100%">
				<p id="title">Gladiator</p>
  			</div>

			<div class="column">
    			<img src="{%  static 'media/movies/ac6.jpg' %}" id="img6" alt=" Avatar: The Way of Water" style="width:100%">
				<p id="title"> Thirteen Lives</p>
  			</div>

  			<div class="column">
    			<img src="{%  static 'media/movies/ac7.jpg' %}" id="img7" alt="John Wick: Chapter 4" style="width:100%">
				<p id="title">Man on Fire</p>
  			</div>

  			<div class="column">
    			<img src="{%  static 'media/movies/ac8.jpg' %}" id="img8" alt="The Unbearable Weight of Massive Talent" style="width:100%">
				<p id="title">Cliffhanger</p>
  			</div>

			<div class="column">
    			<img src="{%  static 'media/movies/ac9.jpg' %}" id="img9" alt="All Quiet on the Western Front" style="width:100%">
				<p id="title">Diamonds are Forever</p>
  			</div>

  			<div class="column">
    			<img src="{%  static 'media/movies/ac10.jpg' %}" id="img10" alt=" Creed II" style="width:100%">
				<p id="title">Shaft </p>
  			</div>
		</div>
	</div>
<script src="{% static 'js/category.js' %}" type="text/javascript"></script>
</body>
</html>